@import url("assets/fonts/ProximaNova/stylesheet.css");

* {
    box-sizing: border-box;

    padding: 0;
    margin: 0;

    font-family: "Proxima Nova Rg", sans-serif;
    outline: none;
    border: none;
    background-color: transparent;
}