.wrapper {
    margin-top: 2rem;

    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.empty_list_alert {
    margin-top: 1rem;

    color: #262C40;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}